/* button {
    color:whitesmoke;
    background: burlywood;
    padding: 10px;
} */


h1 {
    font-weight: 200;
    color:#00b8d4;

}

h2 {
    font-weight: 200;
    color:#b0bec5;

}

h3 {
    font-weight: 200;
    color:#a7ffeb ;

}
h4 {
    font-weight: 200;
    color:#78909c ;

}
h5 {
    font-weight: 200;
    color:#607d8b;

}
h6 {
    font-weight: 200;
    color:#546e7a;

}







p {
    color:#616161;
}

blockquote {
    color:#616161;
    border-left: 5px solid #68c8c6;
}


.menu {
    padding-top: 25px;
}

.section-following-content {
    padding: 50px;

}