.dropbox-logo {
    padding: 0px 20px 20px;
}


.section-main {
    background: #1e1919;
}

.btn-text {
    color: #1e1919;

}

.products-heading {
    font-family: 'Lisu Bosa', serif;
    color: #1e1919;
}

.icon-heading {
    color: #1e1919;
    font-weight: bold;
}

.icon-link {
    color: #1e1919;
    font-weight: 500;
    text-decoration-line: underline;
}

.icon-link:hover {
    font-weight: 700;
    color: #088ae1;
}